body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #191823;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-md-12 {
  width: 100%;
}

.input-tasks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-style {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  width: 100%;
  height: 100%;
}

.select-style {
  margin: 10px;
  width: 120px;
  height: 50px;
  background: #2d7fff;
  color: white;
  font-size: 25px;
}

.add-button-style {
  margin: 10px 0;
  width: 120px;
  height: 50px;
  background: #346dc5;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 25px;
}

.pin-button-style {
  margin: 10px 0;
  width: fit-content;
  height: 40px;
  background: #4785e0;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}
:focus {
  outline: none;
}

.unpin-button-style {
  margin: 10px 0;
  width: fit-content;
  height: 40px;
  background: #003d99;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}
:focus {
  outline: none;
}

.complete-button-style {
  margin: 10px 0;
  width: fit-content;
  height: 40px;
  background: #389600;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}
:focus {
  outline: none;
}

.completed-button-style {
  margin: 10px 0;
  width: fit-content;
  height: 40px;
  background: #0a3c089d;
  color: #afafaf;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}
:focus {
  outline: none;
}

.remove-button-style {
  margin: 10px 0;
  width: fit-content;
  height: 40px;
  background: #c53434;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}
:focus {
  outline: none;
}

.text-input-style {
  height: 40px;
  width: 60%;
  font-size: 20px;
  padding: 3px 5px;
  background: #18287d;
  color: white;
  border-radius: 10px;
  border: none;
}
::placeholder {
  color: #827c7c;
  opacity: 1; /* Firefox */
}
.text-input-style:focus {
  border: 1px solid #6f6a6a;
  outline: none;
}

.title-row {
  width: 80%;
  height: 80px;
  color: #e8cbcb;
  background: #2b89af3d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  font-size: 40px;
  color: white;
  list-style-type: circle;
}

li {
  display: list-item;
  align-items: center;
  justify-content: start;
}
